.Bread{
  @include flex();
  &__List{
    @include flex();
    align-items: center;
    margin-right: 6px;
    &::after{
      display: block;
      content: ">";
      margin-top: -2px;
      margin-left: 6px;
    }
  }
  &__Link{
    font-size: 1.4rem;
    color: #000;
  }
  @include media ($sp) {
    display: none;
  }
}
