/* ====================================================
// color変数
==================================================== */
$turquoise: #0086a2;
$darkturquoise: #00A5BF;
$aiiro: #105889;
$blue: #00a5bf;
$incblue: #4576A1;
$main-bg: #f5f0eb;
/* ====================================================
// ページ全体の横幅
==================================================== */
$base_width: 960px;
$base_maxwidth: 1366px;
/* ====================================================
// 余白設定
==================================================== */
$base_p: 0 20px;
/* ====================================================
// font設定
==================================================== */
$base_font: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
/* ====================================================
// br設定
==================================================== */
.sp-br {
  @include media ($sp) {
    display: block;
  }
  @include media ($pc) {
    display: none;
  }
}

.pc-br {
  @include media ($pc) {
    display: block;
  }
  @include media ($sp) {
    display: none;
  }
}
