.WorksWrapper {
  width: 100%;
  margin-top: 100px;
  @include media ($sp) {
    margin-top: 110px;
  }
}

.Works {
  padding-top: 30px;
  border-bottom: 1px solid #eee;

  &__Block {
    @include flex();
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    @include media ($pad) {
      justify-content: space-between;
    }
  }

  &__Item {
    position: relative;
    width: 400px;
    margin-top: 60px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 60px;
    }
    @include media ($pad) {
      width: 47%;
    }
    @include media ($sp) {
      width: 100%;
    }

    &:hover {
      transition: 0.3s;

      .Works__Photo {
        img {
          transition: 0.3s;
          opacity: 0.1;
        }
        .Works__Tag {
          transition: 0.3s;
          opacity: 0.1;
        }
        &:after {
          transition: 0.3s;
          opacity: 1;
          left: 0;
          transition-delay:0.1s;
        }
        &:before {
          height: 3px;
          width: 100%;
          transition: 0.3s;
        }
      }
    }
    .Works__Photo:after {
      content: "MORE";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 22px;
      color: #111;
      top: 0;
      left: -10px;
      width: 100%;
      height: 100%;
      letter-spacing: 2px;
      transition: 0.3s;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
      transition-delay:0.1s;
      @include media ($pad) {
        display: none;
      }
    }
    .Works__Photo:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 0;
      bottom: 0;
      left: 0;
      transition: 0.3s;
      background-color: #111;
      z-index: 3;
      @include media ($pad) {
        display: none;
      }
    }
  }

  &__Photo {
    position: relative;
    width: 400px;
    height: auto;
    overflow: hidden;
    line-height: 0;
    transition: 0.3s;

    img {
      transition: 0.3s;
    }
    @include media ($pad) {
      line-height: 0;
      width: 100%;
      height: auto;
    }
    @include media ($sp) {
      width: 100%;
      height: auto;
      line-height: 0;
    }
  }

  &__Tag {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.4rem;
    color: #111;
    width: 60px;
    height: 26px;
    line-height: 26px;
    padding: 1px 0 0 2px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
  }

  &__Descriptions {
    @include flex();
    @include fd(column);
    box-sizing: border-box;
    padding-top: 10px;
  }

  &__Title {
    font-size: 1.4rem;
    color: #111;
    font-weight: normal;
    margin-bottom: 3px;
  }

  &__Infomation {
    font-size: 1.2rem;
    color: #888;
  }
  @include media ($sp) {
    padding-top: 0;
  }
}

.DetailWrapper {
  margin-top: 100px;
  @include media ($sp) {
    margin-top: 90px;
  }
}

.Detail {
  &__Media {
    display: block;
    width: 100%;
    height: 489px;
    // margin:  20px auto 0;
    @include media ($pad) {
      width: 100%;
      height: auto;
      margin: 0;
    }

    &--video {
      @include media ($pad) {
        position: relative;
        width: 100%;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          right: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  &__Data {
    font-size: 1.4rem;
    @include flex();
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    color: #111;
    @include media ($sp) {
      margin-top: 35px;
    }
  }

  &__Block {
    border-bottom: 1px solid #eee;

    &--credit {
      font-size: 1.6rem;
      @include media ($sp) {
        font-size: 1.2rem;
      }
    }
    @include media ($sp) {
      margin: 35px 0;
      padding-bottom: 35px;
    }
  }

  &__Title {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 50px;
    @include media ($sp) {
      margin-bottom: 25px;
      font-size: 1.4rem;
    }
  }

  &__Description {
    font-size: 1.6rem;
    @include media ($sp) {
      font-size: 1.2rem;
    }

    &--photo {
      width: 100%;
      @include flex();
      @include media ($sp) {
         @include fd(column);
      }
    }
  }

  &__DescriptionPhoto {
    overflow: hidden;
    box-sizing: border-box;

    &:last-child {
      @include media ($pad) {
        padding-left: 10px;
      }
      @include media ($sp) {
        padding-left: 0;
        margin-top: 20px;
      }
    }

    img {
      width: 420px;
      height: auto;
      @include media ($pad) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__CreditDescription {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
    @include media ($sp) {
      margin-bottom: 20px;
    }
  }

  &__CreditLink {
    color: #111;
  }
}
